@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("Background.jpg");
}
.heading{
    text-align: center;
    margin: 20px;
}
.main{
    background-color: blueviolet;
    margin-left: 200px;
    margin-right: 200px;
}
.form-group{
    margin-left:400px;
}